FacilityCountAgent/rainman.txt
FacilityCountAgent/rainman.txt
rainman.txt
FacilityCountAgent/modules/__pycache__/conf.cpython-38.pyc
FacilityCountAgent/repositories/__pycache__/facilitycountrepo.cpython-38.pyc
MaskGen/COM_OnlyMask.jpg
MaskGen/COM_Original.jpg
MaskGen/COM_OriginalCropped.jpg
MaskGen/COM_SamedSizeBlackImage.jpg
MaskGen/COM_SamedSizeWhiteImage.jpg
MaskGen/GOLD214_OnlyMask.jpg
MaskGen/GOLD214_Original.jpg
MaskGen/GOLD214_OriginalCropped.jpg
MaskGen/GOLD214_SamedSizeBlackImage.jpg
MaskGen/GOLD214_SamedSizeWhiteImage.jpg
MaskGen/GOLD216_OnlyMask.jpg
MaskGen/GOLD216_Original.jpg
MaskGen/GOLD216_OriginalCropped.jpg
MaskGen/GOLD216_SamedSizeBlackImage.jpg
MaskGen/GOLD216_SamedSizeWhiteImage.jpg
MaskGen/OnlyMask.jpg
MaskGen/Original.jpg
MaskGen/OriginalCropped.jpg
MaskGen/SamedSizeBlackImage.jpg
MaskGen/SamedSizeWhiteImage.jpg
MaskGen/images/com.png
MaskGen/images/gold212.jpg
MaskGen/images/gold214.jpg
MaskGen/images/gold216.jpg
MaskGen/images/mac_lot.png
MaskGen/images/Frame_2021-10-18_11-30-31/masks/Frame_2021-10-18_11-30-31.png
**/__pycache__/*
*/.vs
